// Default variable overrides
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$primary: #f76879;
$secondary: #dba5ab;
$tertiary: #fccdd2;
$text-accordeon: #6f585b;
$title-newsle: #6f585b;
$gray: #667085;
$gray-second: #344054;
$gray-third: #98a2b3;
$gray-stars-inactive: #f2f4f7;
$gray-dark: #111111bf;
$background: #ffffff;
$basic: #000000;
$picto: #111827;
$news: #6f585b;

:root {
    --bebas: "Bebas Neue", sans-serif;
    --montserrat: "Montserrat", sans-serif;
}
